@import '../../style/shadow';

$card-width: 220px;
$card-height: 280px;

.loader {
  margin-top: 20px;
  text-align: center;
}

.player-tile {
  &__container {
    margin: 0 auto 40px auto;
    border-radius: 4px;
    padding: 10px;
    width: $card-width + 20px;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-top: 4px solid #3d00d2;
    border-bottom: 4px solid #3d00d2;

    @include shadow(3);

    &:hover {
      @include shadow(6);
    }
  }

  &__image {
    &:before {
      content: '';
      position: absolute;
      width: $card-width;
      height: $card-height;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(255,255,255,1) 100%);
    }
  }

  &__name {
    text-align: center;
    font-size: 20px;

  }

  &__team{}
}
