@import '~bootstrap-grid';
@import './reset';
@import './error';
@import './player-images';
@import './sprite-base';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
    border: 1px solid #c7c7c7;
    border-radius: 20px;
}

h1 {
    background-color: #bce1fd;
    margin: 0;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1, h2, h3 {
    text-align: center;
}

*, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}
