@import '../../style/shadow';

$player-card-height: 280px;

.loader {
    margin-top: 20px;
    text-align: center;
}

.player-banner {
    &__portrait {
        margin: 20px auto 30px auto;
    }

    @media (min-width: 768px) {
        &__info, &__club {
            margin-top: 40px;
        }
    }
    &__name, &__number {
        margin: 0 auto 0 0;
        text-align: left;
    }

    &__name {
        font-size: 28px;
    }

    &__number {
        font-size: 40px;
    }
}

.player-info-table, .player-stats-table {
    table {
        max-width: 450px;
        width: 95%;
        margin: 20px auto;
        border-left: 1px solid #c7c7c7;
        border-right: 1px solid #c7c7c7;
        border-top: 4px solid #3d00d2;
        border-bottom: 4px solid #3d00d2;
        border-radius: 4px;

        @include shadow(3);

        th {
            text-align: left;
            padding: 5px;
            font-size: 20px;
        }

        td {
            padding: 5px;
            font-size: 16px;

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}
